option_settings:
  aws:rds:dbinstance:
    #  db.t3.micro is the smallest instance class that supports postgres 14.7
    DBInstanceClass: db.t3.micro 
    DBAllocatedStorage: 5
    DBDeletionPolicy: delete
    DBEngine: postgres
    DBEngineVersion: 14.7
    DBUser: Tiziana4373
    DBPassword: postgres
    HasCoupledDatabase: true
